asgiref==3.9.1
autopep8==2.3.2
black==26.5.1
click==8.4.1
colorama==0.4.6
Django==5.2.4
django-extensions==4.1
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==11.3.0
platformdirs==4.10.0
psycopg2-binary==2.9.10
pycodestyle==2.14.0
python-decouple==3.8
pytokens==0.4.1
sqlparse==0.5.3
tzdata==2025.2
